body {
    font-family: 'Montserrat', sans-serif, helvetica, Arial;
    font-size: 12px;
}
.container {
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
}
h2 {
    font-size: 2rem !important;
    text-align: center
}
h3 {
    font-size: 1.5rem !important;
}
.input-container .controls {margin-bottom: 2rem; display: flex;align-content: flex-start;justify-content: space-between;}

.input-container label {
    font-size: 1.2rem;
    line-height: 1.2rem;
    display: inline-block;
}
.input-container input {
    width: 4rem;
    height: 2rem;
    font-size: 1.4rem;
    line-height: 1.2rem;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clearfix {
    clear:both;
}

.input-container .btn {
    padding: 0.5rem 1rem;
    min-width: 8rem;
    background-color: #6200EE;
    color: #ffffff;
    text-align: center;
    font-size: 1.2rem;
}
.input-container .btn.disabled {
    background-color: #a1a1a1;
}
.instructions-container {
    border: 1px solid #a6a6a6;
    padding: 2rem;
    border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
}
.instructions-container ol>li {
    font-size: 1rem;
}
.d-none {
    display: none;
}
.msg.error {
    color: red;
    font-size: 1rem;
}
.msg p {
    padding: 1rem 0;
}
#chess {
    width: 640px;
    height: 640px;
    margin: 0.5em;
    display: flex;
    border: 2px solid #808080;
    flex-wrap: wrap;
}

#chess div {
    width: 80px;
    height: 80px;
    background-color: #fff;
    display: flex;
    align-content: center;
    justify-content: center;
}

#chess div .actor {
  height: 70px;
  width: 70px;
  padding: 10px;
  background-color: transparent !important;
}

#chess div .actor img {
  height: 100%;
  width: 100%;
}
#chess div:nth-child(-2n+8), 
#chess div:nth-child(8) ~ div:nth-child(-2n+15), 
#chess div:nth-child(16) ~ div:nth-child(-2n+24), 
#chess div:nth-child(24) ~ div:nth-child(-2n+31), 
#chess div:nth-child(32) ~ div:nth-child(-2n+40), 
#chess div:nth-child(40) ~ div:nth-child(-2n+47), 
#chess div:nth-child(48) ~ div:nth-child(-2n+56), 
#chess div:nth-child(56) ~ div:nth-child(-2n+63) {
    background-color: #000;
}